[Unit]
Description=Service for Handees
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/root/bootvar
Environment=COMPOSE_HTTP_TIMEOUT=600
ExecStart=/usr/bin/docker-compose -f /home/azureuser/backend/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f /home/azureuser/backend/docker-compose.yml stop
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
